<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gorgc's Egg Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img src="assets/gorgc-logo.png" />

  <div class="debug">
    <ion-button size="small" (click)="fastForward(180)">>> 5min</ion-button>
    <ion-button size="small" (click)="fastForward(60)">>> 1m</ion-button>
    <ion-button size="small" (click)="fastForward(30)">>>30s</ion-button>
  </div>

  <div class="timer">
    {{ formattedTime }}
  </div>

  <ion-button expand="full" *ngIf="!gameStarted" (click)="startGame()">Start Game</ion-button>
  <ion-button expand="full" *ngIf="gameStarted" (click)="stopGame()">Stop Game</ion-button>

  <ion-item class="daynight ion-margin-top">
    It is currently <ion-icon name="{{ dayNight === 'day' ? 'sunny' : 'moon' }}"></ion-icon>
  </ion-item>

  <ion-item class="rosh ion-margin-top">
    Rosh is <ion-icon name="{{ rosh === 'south' ? 'arrow-down' : 'arrow-up' }}"></ion-icon>
  </ion-item>

  <ion-list class="ion-margin-top">
    <ion-list-header>Upcoming events</ion-list-header>
    <ion-item *ngFor="let warning of warnings">
      {{ warningStrings[warning] }}
    </ion-item>
  </ion-list>

</ion-content>
