.marketing {

  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;

  p.title {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
  }

  p.description {
    border-top: 1px solid white;
    padding-top: 25px;
    margin-top: 25px;
    font-size: .8em;
    text-align: center;
  }

  img {
    width: 50%;
    display: block;
    margin: 20px auto;
  }

}

.timer {
  width: 100%;
  font-size: 4rem;
  text-align: center;
  margin: 50px 0;
}

.debug {
  text-align: center;
}

ion-icon {
  font-size: 2em;
}

.call-for-help {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  padding: 5%;
  font-size: 0.8em;
}